.footer-container {
  text-align: center;
  margin-top: 60px;
}
.footer-description {
  line-height: 50px;
  color: #94a3b8;
  margin-bottom: 20px;
  margin-top: 10px;
}
.git {
  width: 48px;
  height: 52px;
  color: #cbd5e1;
}
.instagram {
  width: 42px;
  height: 52px;
  color: #cbd5e1;
}
.twitter {
  width: 42px;
  height: 52px;
  color: #cbd5e1;
}
.footer-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}
